@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ---------
  UTILITES
--------- */

* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}

button {
  background-color: #E02C6D;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 25px;
  border: 2px solid #E02C6D;
  display: inline-flex;
}

button:hover {
  border: 2px solid #E02C6D;
  background-color: #ffffff;
  color: #E02C6D;
  box-shadow: 5px 5px #E02C6D;
}

.btn-icon {
  padding-left: 10px;
}

/* ---------------
  HEADER SECTION
--------------- */


/* --------------
  HERO SECTION
-------------- */

.hero {
  background-color: #2d25a0;
  display: flex;
  padding: 145px;
  align-items: center;
  justify-content: space-between;
}

.hero-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #ffffff;
  padding-bottom: 15px;
}

.hero-info {
  padding-left: 50px;
}

.banner img {
  width: 556px;
  position: relative;
}
.banner img:hover {
  transition: ease-in 0.5s;
  transform: translate(-50px);
}

